body{
    height: auto;
    background-color: black !important;
    background: url('/img/bg/pattern.png')repeat;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.gradient{
    background: #f378a0; /* Old browsers */
    background: -moz-linear-gradient(left,  #f378a0 0%, #f7834f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f378a0), color-stop(100%,#f7834f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f378a0 0%,#f7834f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f378a0 0%,#f7834f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f378a0 0%,#f7834f 100%); /* IE10+ */
    background: linear-gradient(to right,  #f378a0 0%,#f7834f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f378a0', endColorstr='#f7834f',GradientType=1 ); /* IE6-9 */
}

.fullHeight{
    min-height: 100vh;
}
.mainContent{
    margin: 1em 0;
}
.questionWindow{
    margin-bottom: 5%;
}
.gMaps{
    margin: 1em 0;
    min-width: 100%;
    min-height: 380px;
}
.gMapsFull{
    min-width: 100%;
    min-height: calc(100vh - 45px);
}
.sliderHeading{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sliderTitle{
    margin: 0;
    padding: 0.2em;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    display:inline;
}
.fullWidthButton{
    width: 100%;
}
.socialLogin{
    width: 90%;
}
.socialLogin i{
    font-size: 1.5em;
}
.fbButton{
    margin: 0;
    background-color: #3b5999;
}
.fbButton:hover{
    background-color: #2f487b;
}
.twButton{
    margin: 0;
    background-color: #55acee;
}
.twButton:hover{
    background-color: #4387b9;
}
.meter{
    background: #f378a0 !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #f378a0 0%, #f7834f 100%)!important;; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f378a0), color-stop(100%,#f7834f))!important;; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f378a0 0%,#f7834f 100%)!important;; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f378a0 0%,#f7834f 100%)!important;; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f378a0 0%,#f7834f 100%)!important;; /* IE10+ */
    background: linear-gradient(to right,  #f378a0 0%,#f7834f 100%)!important;; /* W3C */
}
.pBar{
    position: relative;
}
.ball{
    left: 10px;
    top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f7834f;
    position:relative;
}
.buttonText{
    height: 100%;
    padding: 1% 0!important;
}
.multipleChoiceButton{
    background-color: white;
    font-weight: bolder;
    font-size: 1.5em;
    color: black;
    margin: 1em 0 0 0;
    padding: 0;
    height: 2em;
}
.multipleChoiceButton:before {
    color: white;
    float: left;
    width: 2.125em;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 0 0;
    padding: 0;
    pointer-events: none;
}
.multipleChoiceButton:hover{
    background-color: #e5e5e5;
    color: black;
}
.multipleChoiceButton:active{
    background-color: #e5e5e5;
    color: black;
}
.multipleChoiceButton:focus{
    background-color: #e5e5e5;
    color: black;
}
.letterA:before{
    background-color: #f378a0;
    content: "A";
}
.letterB:before{
    background-color: #f378a0;
    content: "B";
}
.letterC:before{
    background-color: #f378a0;
    content: "C";
}
.letterD:before{
    background-color: #f378a0;
    content: "D";
}
footer.badgesPanel{
    background-color: #B97EB8;
    height: 80px;
    color: white;
}
.badgeIcon{
    text-align: center;
    padding: 1%;
}
.badgeDivider{
    border-right: 1px #FFC7FE dotted;
}
.badgeImage{
    height: 55px;
    width: 55px;
    margin: 1%;
}
.scoreIcon{
    font-size: 2em;
    color: #fff797;
    float: right;
    padding: .10em 1%;
}
.rightTop{
    padding-right: 4em;
    text-align: right;
}
.scoreIconRaw{
    font-size: 2em;
    color: #fff797;
}
.scoreIconSmall{
    color: #fff797;
}
.adminDash{
    font-size: 3em;
}
table#leaderboard{
    width: 100%;
}
td.rank{
    width: 8%;
}
.correctAnswer{
    color: green;
}
.finalScore{
    font-size: 1.5em;
}
.CPsuccess, .CPerror{
    border: 1px solid;

    padding:15px 10px;
}
.CPerror {
    color: #D8000C;
    background-color: #FFBABA;
}
.CPsuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
}
img.character{
    width: 10%;
    height: 10%;
}